@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to My Inspirational Movies</h1>
    </div>
    <br />
    <br />


    
        
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="~/img/17Miracles.jpg" style="width:100%" alt="17 Miracles">
                <div class="text">17 Miracles</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="~/img/EphrainsRescue.jpg" style="width:100%" alt="Ephrains Rescue">
                <div class="text">Ephrains Rescue</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="~/img/Ultimate_Questions.jpg" style="width:100%" alt="Ultimate Questions">
                <div class="text">Ultimate Questions</div>
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    
